@model TrackPay.Models.Pago

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1>Error al procesar el formulario</h1>
    <p>@ViewData["ErrorMessage"]</p>
    <a href="/Pagos/Index">Volver</a>
</body>
</html>
